[2020-02-15 08:12] NOAME18 opened #1 "motrix not be wake by the extension when i click a download link"
system：MACOS14.4
Browser：Chrome 80.0.3987.106
motrix： 1.33.1

my config：
![Snipaste_2020-02-15_15-58-46](https://user-images.githubusercontent.com/53110680/74584469-9d2d2580-500d-11ea-80cc-7ccc0a2a0f01.png)
![Snipaste_2020-02-15_16-06-51](https://user-images.githubusercontent.com/53110680/74584471-a0c0ac80-500d-11ea-91e5-f10d7b25da4b.png)

[2020-02-15 08:44] gautamkrishnar commented on #1
Thanks for reporting the issue @NOAME18, can you please send me the link you're trying to download?

[2020-02-15 15:05] NOAME18 commented on #1
i have try every link,but the extension just don't work..noting happen.And i try [YAAW](https://chrome.google.com/webstore/detail/yaaw-for-chrome/dennnbdlpgjgbcjfgaohdahloollfgoc)—A aria2 downloader ，it also don't work，i don‘t konw if there is a problem in my macos.
![Snipaste_2020-02-15_22-55-31](https://user-images.githubusercontent.com/53110680/74590171-e483d800-5046-11ea-9530-8b17e8002d1e.png)

[2020-05-06 08:35] gautamkrishnar opened #2 "Add notiifications on download start"
Users should be notified via notification when the download starts...

[2020-05-06 08:38] gautamkrishnar opened #3 "Download gets started automaticially when the saves an image file"
- Right-click an image
- Click on save image as

The download is started automatically... This should be prevented.

[2020-05-06 08:41] #2 closed

[2020-05-16 14:59] huyndnse63331 opened #4 "Not working on Linux"
Hi, i followed every steps in the video but it didn't work for me. I'm using Chrome (81.0.4044.138) on Ubuntu 18.04.4 (amd64). After finishing setting 2 RPC keys for the Chrome extension and Motrix, my Chrome still downloaded file with the native downloader. Please kindly check this issue. Thank you.

Motrix version: 1.5.10

[2020-05-16 15:07] huyndnse63331 commented on #1
im getting this same issue on Ubuntu 18.04.4

[2020-05-16 16:07] gautamkrishnar commented on #1
@huyndnse63331 can you please share the link of the page that you tried to download the link?

[2020-05-17 03:43] huyndnse63331 commented on #1
any link can be, i was trying to download this one
https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15

[2020-05-17 04:25] NOAME18 commented on #1
Maybe you can try this extension: [Aria2 Manage](https://chrome.google.com/webstore/detail/mbceplmgodfokjalhafchlhdfamccdbnl)
it‘s work in my pc and phone.

[2020-05-17 10:43] jewel-snake commented on #4
Same on Arch Linux x64
`~> chromium --version
Chromium 81.0.4044.138 Arch Linux`
motrix version is 1.5.10
and it's definitely running, checked with systemctl.
As I'm not professional in javascript 4 chrome development, maybe I'm wrong, but you're requiring 'motrixapikey' in line 9,
and use it only to check if it's not set(line 14), and nowhere else. Maybe it should somehow figure in json params.

[2020-05-17 14:13] gautamkrishnar commented on #4
@jewel-snake thanks a lot for taking your time to research this. This was the exact issue.

[2020-05-17 14:27] gautamkrishnar commented on #4
@jewel-snake @huyndnse63331 can you please test https://github.com/gautamkrishnar/motrix-chrome-extension/releases/tag/1.0.6 and let me know if it's fixed?

[2020-05-17 14:34] gautamkrishnar commented on #1
@NOAME18 @huyndnse63331  Can you please test this new version https://github.com/gautamkrishnar/motrix-chrome-extension/releases/tag/1.0.6 Looks like it is working fine for me.
Video: https://media.giphy.com/media/Th9OIgHWR8TKBdmedk/source.mov

[2020-05-17 14:41] gautamkrishnar commented on #4
I Don't have access to any Linux machine to test this out myself right now. Please feel free to reopen the issue if it's not fixed. I am also not sure about the aria2c API.

[2020-05-18 00:37] NOAME18 commented on #1
**motrix-chrome-extension 1.0.6 test**
![17](https://user-images.githubusercontent.com/53110680/82164190-d8c3de00-98e1-11ea-8454-5219fbb4d334.gif)
it's look don't work for me

**Compare it to another extension**
![18](https://user-images.githubusercontent.com/53110680/82164192-e2e5dc80-98e1-11ea-900a-a267b6fb3715.gif)

[2020-05-18 02:04] huyndnse63331 commented on #4
Hi, this issue wasn't fixed completely in this release (v1.0.6). I'll attach the video which i recorded its behavior below.

After setting up RPC keys completely, click on the link i wanted to download, it'll download with the Chrome native downloader, after pressing `ctrl + j`, it'll show a popup that transfered to Motrix, but when i opened Motrix, nothing was downloading.

Concept video:
https:/

[2020-05-18 05:09] gautamkrishnar commented on #4
@huyndnse63331 thanks for testing

[2020-05-18 05:10] gautamkrishnar commented on #1
@NOAME18 Thanks for testing 👍

[2020-05-18 07:19] jewel-snake commented on #4
Found the bug, fixed and created fork with better code. As I've never did this before, I have no experience in suggesting code improvements, so write if you can't see mine. However, new weird behaving came up :
1. On downloads [wallhere](wallhere.com) site sends js file, which contains mirrorlist, where the file you want could be downloaded. Chrome executes the script and download only required fi

[2020-05-18 08:59] jewel-snake commented on #3
chrome.downloads has event onDeterminingFilename. As possible solution, you can make your code
 wait until user finish choosing filename and destination directory.

[2020-05-18 10:11] hthre7 commented on #4
also in linux mint 19.3 using chromium 81.0.4044.138 with motrix 1.5.10
same behaviour

[2020-05-22 02:01] luxl commented on #4
Using the latest version, still not working. I'm using Manjaro 20.1 with Chrome 83.

[2020-05-23 16:00] hthre7 commented on #4
exactly the extension need every download a reload to work and need persistent runtime.

[2020-05-24 10:15] gautamkrishnar commented on #4
Thanks a lot everyone for testing this out. Please try out the beta version and let me know if its fixed: https://github.com/gautamkrishnar/motrix-chrome-extension/releases/tag/1.0.7-beta

Sorry for the trouble, I don't have a Linux machine to test it out myself.

[2020-05-24 10:22] huyndnse63331 commented on #4
sorry, still not working, its downloading with chrome native downloader. Why don't you use VM for testing?

[2020-05-24 11:14] gautamkrishnar commented on #4
@huyndnse63331 Yep on it, that's the only option now 😓

[2020-05-25 06:39] jewel-snake commented on #4
@gautamkrishnar your code is not working because you haven't fixed line 52. hash is PARAMS.params[2] !

[2020-05-25 08:30] gautamkrishnar commented on #4
@jewel-snake thanks for the suggestion i am rewriting the code with Aria2.js so that I can use WebSocket instead of HTTP calls. Looks like its working for me on mac. Will test it out in Linux vm.

[2020-05-25 10:12] gautamkrishnar commented on #4
I had to abandon the WebSocket due to some connection refused error handling. Due to the implementation of WebSocket code in the library I was not able to do proper error handling

[2020-05-25 10:15] gautamkrishnar commented on #4
@huyndnse63331 @jewel-snake can you guys please try out https://github.com/gautamkrishnar/motrix-chrome-extension/releases/tag/1.0.7-beta2 when you guys get some time and let me know the feedback on it. I had added a console log to see if there are any errors. Which can be debugged by going to the console: https://developer.chrome.com/extensions/tut_debugging

[2020-05-25 22:40] John-OOP opened #5 "我是Mac系统，刚刚安装了最新测试版，还是无法调用"
下载任何文件都是无法调用，设置的应该没问题，跟另一个提出此问题的人情况一样，链接的花随便找一个都是不能正常调用

[2020-05-26 02:29] tpnet commented on #5
我也是，刚刚装完插件第一次下载蓝奏的文件，motrix下载了index.html，第二次就没反应了

[2020-05-26 02:39] huyndnse63331 commented on #4
sorry, i don't know how to debug your extension, but its still downloading with chrome :(

[2020-05-26 07:15] zmm2tysu commented on #4
extension version: 1.0.7-beta2
motrix version: 1.5.10
still not working,maybe the problem is the extension do not have permission to access other website(I founded it in chrome://extensions)

[2020-05-26 16:52] jewel-snake commented on #4
@gautamkrishnar still works only before refresh. Extension manager says `background page(inactive)` after each download. It seems like the script stops.

Also, console debugging doesn't effective because the code does not rise any exceptions, `console.log` does not appear in it though.

[2020-05-27 03:13] asnfohsdgfbkxcv commented on #5
Windows10 无法调用。已添加密钥，已完成插件启用。

[2020-05-28 17:24] poseidon-j commented on #4
what is the api key?

[2020-05-29 09:55] hthre7 commented on #4
now is working but without a way to choose where to download

[2020-05-31 11:50] liveskai opened #6 "能加入谷歌扩展商店吗"
能加入谷歌扩展商店吗

[2020-06-04 10:03] meiyouhoulai commented on #5
同Mac用户，试了好几个下载链接，包括蓝奏云的，都是无法调用

[2020-06-05 13:11] ldlywt commented on #5
我刚下的，也是这样，完全无法调用

[2020-06-05 17:02] hthre7 commented on #4
@gautamkrishnar tried removing `"persistent": false` from manifest.json is helping and work as normal still testing but you could try it.

[2020-06-14 05:42] HuZhixiang-hub opened #7 "无法调用Motrix下载"
我在Motrix中的进阶设置中找到了RPC授权秘钥，并复制到了扩展中并Set Key，但是总是无法调用Motrix下载。

[2020-06-15 13:39] 149segolte opened #8 "Downloads initiate after restarting the browser."
Operating System: Windows 10 build 10.0.19041
Browser: Microsoft Edge Chromium 83.0.478.45 (Official Build) (64-bit) (Supports Chrome Extensions)
Motrix: 1.5.10

Issue: Downloading a file triggers the browser's download manager instead of Motrix, but if all the browser windows are closed and a new window is opened the download starts again in Motrix. Happens for all links ( test link: [https://rel

[2020-06-17 09:43] 149segolte commented on #8
@gautamkrishnar While testing the extension, I found that the background page changes its state to inactive after a couple of seconds from loading the extension. And restarting the browser restarts the extension resulting in the download.

![Annotation 2020-06-17 140310](https://user-images.githubusercontent.com/37300847/84875662-e5378400-b0a3-11ea-85c5-385e9eee5b55.png)
 This is due to the backgr

[2020-06-19 14:08] #8 closed

[2020-06-20 05:57] Todesstalker opened #10 "Not work in newEdge"
hi, I install this in newEdge, every step of the way, but can't intercept download URL.

[2020-06-20 07:54] gautamkrishnar commented on #10
@Todesstalker As of now, I am not planning to support edge, When we have the MVP that is working, we can port it to other browsers.

[2020-06-20 09:05] hthre7 commented on #3
https://github.com/agalwood/Motrix/pull/716#issue-437359352

motrix add scheming this will actually
[code]

[2020-06-25 07:27] gautamkrishnar commented on #10
@149segolte Thanks a lot for investigating. Feel free to open a PR with a fix if this works out.

[2020-06-25 10:00] #4 closed

[2020-06-25 13:07] 149segolte opened #12 "Support for other browsers?"
I opened this issue to discuss support for other browsers. Primarily,

- Edge ( Chromium based )
- Firefox

[2020-06-27 07:42] 149segolte commented on #12
Both Edge and Firefox support WebExtensions API but while Edge supports Chrome extensions natively, Firefox requires browser-specific settings. Converting this project to WebExtensions based will allow us to support most of the modern browsers. Even Apple has announced support for WebExtensions in WWDC 2020.

@gautamkrishnar, But this will require a drastic change in the structure of the project,

[2020-06-27 08:15] gautamkrishnar commented on #12
@149segolte That would be great. Please open a PR to [webextension-migration](https://github.com/gautamkrishnar/motrix-chrome-extension/tree/webextension-migration) branch since the project's repo name and readme should be updated after this.

[2020-07-02 14:10] cddehsy opened #14 "安装好扩展后怎么使用呢"
安装好扩展后怎么使用呢，好像需要输入api，打开链接不会调用软件
![image](https://user-images.githubusercontent.com/42635049/86369262-c266bb80-bcb0-11ea-8986-5e3e1c5ef3a0.png)

[2020-07-03 15:42] Admin-Account opened #15 "以后是否考虑加入Chromium Edge应用商店？"
国内环境下获取谷歌官方插件还是很麻烦的，镜像站又怕夹带私货。希望在商家谷歌商店的同时也兼顾一下Chromium Edge，希望能在测试结束后将此计划提上日程，谢谢！

[2020-07-06 03:39] Admin-Account commented on #14
看图，在这里
![gh2](https://user-images.githubusercontent.com/34876935/86553362-1e656480-bf7d-11ea-85e8-4a1d2b7616de.png)
按1 2 3步骤来，在1处点一下生成随机key，2处复制，3点保存
![gh1](https://user-images.githubusercontent.com/34876935/86553439-566ca780-bf7d-11ea-9d39-9b07777c4ee1.png)
再在扩展里保存下密钥就行

[2020-07-08 07:01] candrapersada opened #16 "how to download video online from browser?"
how to download video from any website online? or Are there other extensions that support motrix for download video from any website online?

[2020-07-08 10:56] gautamkrishnar commented on #16
You can use something like this to download video: https://www.alltubedownload.net/

As of now this extension dont support it.

[2020-07-10 03:16] candrapersada opened #17 "Ask before download for change filename?"
Ask before download for change filename and change download location file?

[2020-07-10 09:41] brightzoe commented on #15
I love this extension! It's very convenient to use! Thank U very much!

Same as above, I'm looking forward to use it on Microsoft Edge extension store!

Looking forward to coming soon，THX~~😊

@gautamkrishnar

[2020-07-10 10:45] gautamkrishnar commented on #15
Thanks, Edge support is getting added on #13 will merge it soon.

[2020-07-10 17:57] #15 closed

[2020-07-12 06:39] 149segolte commented on #12
Resolved by #13.

[2020-07-12 06:39] #12 closed

[2020-07-12 06:40] 149segolte commented on #10
Resolved by #13

[2020-07-12 07:44] #10 closed

[2020-07-12 07:44] gautamkrishnar commented on #10
@Todesstalker Please try out the latest release and let us know the feedback.

[2020-07-12 12:37] Todesstalker commented on #10
Now it's working in NewEdge, Thank you for your efforts.

Gautam krishna R <notifications@github.com> 于2020年7月12日周日 下午3:45写道：

[2020-07-19 14:39] abolast opened #18 "It doesn't work on Firefox in Ubuntu!"
Firefox 78.0.2 (64 位)
Ubuntu 20.04
Motrix Version 1.5.15

I followed the strict tutorial steps, but it didn't work ,it couldn't interrupt my Firefox download!
When I clicked download, nothing happened. No Firefox Notification appeared.
![图片](https://user-images.githubusercontent.com/48117390/87877369-86ea2200-ca10-11ea-8851-05d705ecc90c.png)

Please add to Firefox's Extensions store!

Thx！

[2020-09-05 14:19] kly402023688 opened #19 "No extension will be added automatically"
example：
I download url is https://pbs.twimg.com/media/EhJ6U_IVoAg5jPp?format=jpg&name=4096x4096
 Content-Type is image/jpeg it response
But the file name I downloaded is EhJ6U_IVoAg5jPp instead of EhJ6U_IVoAg5jPp.jpeg

[2020-09-05 14:20] #19 closed

[2020-09-12 14:36] yhcharles opened #20 "添加cookie支持"
有些文件下载需要登录状态，可否在新建任务时，自动获取cookie并添加到任务设置中？

[2020-09-15 17:23] Meng5in commented on #6
直接用开发者模式安装的插件edge总是提示禁用…………
有什么办法解决吗？

[2020-09-15 17:28] Meng5in commented on #6
感觉这开发者是印度小哥，建议楼主用英文发一遍。
Can add this extension to ChromeWebstore ?
@gautamkrishnar

[2020-09-16 09:11] Meng5in commented on #6
这个问题在 #15 已经差不多提到过了……

[2020-10-04 09:07] gautamkrishnar commented on #20
@yhcharles as of now the motrix download manager does not support passing cookies.

[2020-10-04 09:07] #20 closed

[2020-10-04 09:10] gautamkrishnar commented on #18
@abolast did you allowed the notification permission?

[2020-10-04 09:12] #16 closed

[2020-10-12 05:44] baibai92 opened #21 "Wake up motrix"
I'm using it .Extension can't wake up motrix and take over chrome downloader if motrix doesn't start first.Can it be improved?Extension can start motrix if motrix is not started，then take over the chrome downloader.Similar to idm, idm extension can start idm, even if idm is off

[2020-11-16 07:35] jiangtiger opened #22 "希望下次能够支持Safari浏览器哈"
希望下次能够支持Safari浏览器哈，谢谢大佬，大佬辛苦了！

[2020-11-16 13:14] 149segolte commented on #22
This project uses browser polyfill from Mozilla, if the polyfill supports safari in the upstream then this project will automatically be compatible with the browser. Until then you can track the status at Mozilla/webextension-polyfill#234.

[2020-11-25 12:01] skygunner commented on #14
should read the README.md
this can be closed

[2020-11-25 12:02] skygunner commented on #7
After generate or fill the Motrix RPC key, remember to click save and apply button

[2020-11-25 12:02] skygunner commented on #7
After you've generated or filled the Motrix RPC key, remember to click save and apply button

[2020-11-25 12:06] skygunner opened #23 "For the portable Motrix, the extension can't find and wake up the program"
Only when Motrix is already running, the extension can find and pass over the download task.
Maybe this is the limitation of RPC

extension version  2.0

[2020-11-25 12:07] skygunner opened #24 "Even the extension has passed the download task to Motrix, the browser's save as diaglo still popup"
extension: 2.0
chrome: 87.0

[2020-11-25 12:17] gautamkrishnar commented on #24
@skygunner can you please provide us with an example video or link.

[2020-12-04 10:26] jimman2003 commented on #24
can confirm!

[2020-12-04 10:33] gautamkrishnar commented on #24
@skygunner this is an api limitation. i will look into this when I have some time. thanks for confirming it.

[2020-12-17 09:49] axiqia commented on #7
I met the same problem on macOS 10.15.5 when I set the API key as `20201217`. Chrome popped a window:

However, when I set the API key as the Motirx randomly generated by clicking the box in `Preferences > Advanced > RPC Secret` of Motirx, e.g., `6rcMwjaUklw3`, it works. I believe that there is a rule for secret, but the  [document](https://aria2.github.io/manual/en/html/aria2c.html#rpc-authorizat

[2021-01-07 08:26] zdq7418 opened #26 "拦截文件流下载方式的请求"
有些网站使用的是文件流的方式进行下载的，并不是一个文件地址，能不能屏蔽掉这些用文件流下载的请求，直接用浏览器自带的下载，文件流请求调用Motrix下载下来的文件是错误的

[2021-01-29 03:55] kotx opened #27 "Option to disable download notification"
#2 suggests to add a download notification, but Motrix itself already displays one when it finishes a download. This can be annoying for small files as I have to wait or dismiss the browser notification before clicking on the Motrix notification to open the downloaded file.

[2021-01-31 13:44] mhafidk commented on #24
any update? I have the same issue

[2021-02-10 15:08] celleo commented on #26
作者看不懂中文的，最好是用英文提。另外文件流是啥？最好能举个例子，copy url here。

@gautamkrishnar Translation as below (I also requested @zdq7418 to give more details):

[2021-02-10 15:26] celleo opened #28 "Pls upload to chrome/edge/safari/firefox browser stores, thx [请求官方添加到各大浏览器商店]"
I saw some similar queries to upload this marvelous work to Chrome/Edge/Safari/Firefox web stores. So I raised this topic to avoid future duplicates, considering some people might not write in English. Thanks!

冒昧代表大家请求官方添加到各大浏览器如Chrome/Edge/Safari/Firefox商店，无需再提交类似的中文请求贴。谢谢！

[2021-02-24 09:46] zenonux commented on #28
edge可以有

[2021-02-28 03:18] redleafnew commented on #28
同求，同求。要不EDGE每次都要提示：禁用开发人员模式扩展

[2021-03-21 05:04] sn4zzy opened #29 "Error in adding the extension."
Issue: Manifest file is missing or unreadable
Could not load manifest. Even though manifest file exists there. Please help me out.

[2021-03-21 09:51] gautamkrishnar commented on #29
@sn4zzy please download and use it form here https://github.com/gautamkrishnar/motrix-webextension/releases

[2021-03-21 09:51] #29 closed

[2021-04-01 06:25] cyy5358 commented on #28
edge可以有

[2021-04-05 05:22] mizzunet opened #30 "Does it work on Brave?"
I cannot see API option in Brave after loading the extension, this extension support Brave as well, doesn't it?
![Screenshot (3)](https://user-images.githubusercontent.com/10193999/113540081-f6368f00-95fc-11eb-81e5-7b8b56709d3d.png)
![Screenshot (2)](https://user-images.githubusercontent.com/10193999/113540086-f8005280-95fc-11eb-96d6-cef9b8e4f0e8.png)

[2021-04-09 07:27] hdchieh commented on #24
basically, you can just go to chrome://setting and turn off 'Ask where to save each file before downloading'.

[2021-04-19 16:36] cddehsy commented on #28
同求啊，大神

[2021-04-19 16:37] cddehsy commented on #7
我知道方法了，现在软件生成密钥保存下，然后复制到扩展中点击set key，重启软件和浏览器就行，我的方法

[2021-05-21 09:06] brackenhill-mob commented on #30
Works fine for me on Arch Linux and Brave

[2021-05-21 16:02] #30 closed

[2021-06-08 05:50] AdorableJiang opened #31 "功能建议：url和文件类型的黑/白名单，以及忽略低于设定文件大小的下载请求/Suggestion: black/white list of explicit url, filename extension, and the threshold of file volume to trigger downloading task"
功能建议：url和文件类型的黑/白名单，以及忽略低于设定文件大小的下载请求
Suggestion: black/white list of explicit url, filename extension, and the threshold of file volume to trigger downloading task

[2021-06-08 05:51] AdorableJiang commented on #28
确实，每次打开edge都看到这个提醒真的很烦

[2021-06-22 11:40] Danny-Yxzl opened #32 "Why don't package it into a .crx file?"
https://cloud.yixiangzhilv.com/api/v3/file/source/97/Motrix%E6%8B%A6%E6%88%AAchrome.crx?sign=EeLdpXYNuPdvDgPJhOkaeQ6bCAwrA17InFEqwOQEAPY%3D%3A0

[2021-06-28 11:30] spider623 commented on #17
so i was not going crazy, the option "is" missing

[2021-06-29 19:48] stem2580 opened #33 "Add a confirmation box before downloading from chrome plz!"
what if i enter a shady website and they auto download some shit, and i don't even get a notification cuz "focus assist, don't disturb or whatever" is on
THIS IS CRITICAL !!!!

[2021-06-29 21:11] gautamkrishnar commented on #33
@stem2580 i will take a look at this. Thanks for reporting.

[2021-07-02 10:05] candrapersada commented on #17
[Critical!] Add a confirmation box before downloading from chrome and firefox plz! #33

[2021-07-15 01:11] peterfat1 opened #34 "Ask before downloading"
So I always like chrome to ask me before download anything to avoid download malware, or any bad things. So, I think motrix should give a window about whether I want to download before downloading, like that IDM do.

Anyways thanks for such a good program!.

[2021-07-28 17:09] BestSumy opened #35 "The extension can't access any sites"
Please help
<img width="744" alt="Xnip2021-07-28_13-08-46" src="https://user-images.githubusercontent.com/55677233/127366197-09b478e4-9c4e-42fd-8278-9cf69606d49f.png">

[2021-07-28 18:21] #35 closed

[2021-08-09 15:25] Leeiiiii opened #36 "Safari"
可以更新个支持Safari的版本吗～谢谢

[2021-08-15 17:21] justaordinaryman opened #37 "Can't Handle Download on Waterfox"
motrix-webextension can't handle download on Waterfox when i download files Waterfox automatically handle the download and i can't download on motrix

[2021-08-16 06:39] cddehsy opened #38 "Please update the plugin"
The plugin needs to be updated, there are so many problems, it doesn't capture links, and when it does it errors out and can't be downloaded. Would like to update to the browser extension shop.

[2021-08-17 13:30] Rmdhn1 commented on #38
pdf also has issues

[2021-09-08 16:19] clicky6 opened #39 "Please make this extension available on Chrome Web Store."
Please make this extension available on Chrome Web Store so that it is easy for a normal user also to use this extension.

[2021-09-16 15:15] SGPublic commented on #39
This extension is already available on Chrome Web Store:
https://chrome.google.com/webstore/detail/moxtrix-webextension/ahmbonikfjldgaaccclamgkdhkpcppbn
#15

[2021-09-17 16:27] gautamkrishnar commented on #39
@SGPublic that is not an official published copy of the extension. I just sent out an email to the person who submitted the extension to the store. I am now waiting for his/her reply. I will publish the extension myself once I have access.

[2021-09-17 23:16] gautamkrishnar commented on #39
Just submitted the official version to the stores. Waiting for them to approve now.

[2021-09-18 03:36] clicky6 commented on #39
When it gets done add the link of the extension to readme.md .

[2021-09-18 09:15] gautamkrishnar commented on #39
@clicky6 it is already there in the develop branch. Once the extension is approved, I will make it live.

[2021-09-18 21:16] gautamkrishnar commented on #39
Extension is now live in the firefox webstore

[2021-09-20 06:39] gautamkrishnar commented on #39
This extension is now available in all webstores https://github.com/gautamkrishnar/motrix-webextension

[2021-09-20 06:39] #39 closed

[2021-09-20 06:50] gautamkrishnar commented on #32
@Danny-Yxzl please use the latest extension from chrome or firefox portal https://github.com/gautamkrishnar/motrix-webextension/releases/tag/21.9.20

[2021-09-20 06:50] #32 closed

[2021-09-23 21:22] JaroslawPokropinski commented on #27
I think this should be closed as https://github.com/gautamkrishnar/motrix-webextension/pull/41 implements that.

[2021-09-23 21:24] gautamkrishnar commented on #27
Yes you are right @JaroslawPokropinski  👍🏻  thanks

[2021-09-23 21:24] #27 closed

[2021-09-26 09:56] gautamkrishnar commented on #38
This extension is already published to chrome webstore right now. Please check the readme for links. @cddehsy Can you please elaborate on what error you are facing?

[2021-09-29 18:22] cddehsy opened #43 "Plugin Language"
Please add the plugin in simplified Chinese language, thank you!

[2021-09-29 18:24] gautamkrishnar commented on #43
I am not a Chinese speaker. Will keep this open so that someone willing can contribute.

[2021-09-29 18:29] cddehsy opened #44 "onedrive business can't capture downloads"
onedrive business can't capture downloads,Here is the onedrive link, please take a look.

https://foxirj-my.sharepoint.com/personal/pan_foxirj_onmicrosoft_com/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fpan%5Ffoxirj%5Fonmicrosoft%5Fcom%2FDocuments%2F%E5%88%86%E7%B1%BB%E8%BD%AF%E4%BB%B6%2F%E7%B3%BB%E7%BB%9F%E6%96%87%E4%BB%B6%2FWindows%2011&originalPath=aHR0cHM6Ly9mb3hpcmotbXkuc2hhcmVwb2ludC5jb20vOmY

[2021-09-30 02:14] cddehsy commented on #43
I want to translate Chinese into simplified form, where can I submit it?

[2021-09-30 02:15] cddehsy opened #45 "Version 21.09.03 occasionally fails to capture file downloads"
Version 21.09.03 occasionally fails to capture file downloads，

[2021-09-30 07:00] gautamkrishnar commented on #43
@cddehsy Thanks a lot for the help, I will let you know. It requires some code changes.

[2021-09-30 07:02] gautamkrishnar commented on #45
@cddehsy this was a known bug even in the old versions. Most authenticated file downloads will fail. I am still not sure how to solve this problem. Trying out different kinds of stuff.

[2021-09-30 19:11] gautamkrishnar commented on #44
@cddehsy can you please retry using the latest version?

[2021-09-30 19:11] gautamkrishnar commented on #45
@cddehsy can you please try the latest version and share your feedback.

[2021-10-01 10:06] cddehsy commented on #44
@gautamkrishnar The latest version also failed to download

[2021-10-01 10:08] cddehsy commented on #45
@gautamkrishnar Currently onedrive download failed, others seem to capture the download normally

[2021-10-01 21:31] gautamkrishnar commented on #36
https://developer.apple.com/documentation/safariservices/safari_web_extensions

We can't publish it to the apple store since it requires paid apple developer account. From the docs:
[code]

Really sorry for the inconvenience. Please try using some other web browser.

[2021-10-01 21:31] #36 closed

[2021-10-04 18:48] JaroslawPokropinski commented on #3
Is this not fixed by https://github.com/gautamkrishnar/motrix-webextension/pull/46?

[2021-10-05 11:30] cddehsy opened #48 "Click on the torrent link software did not capture the download"
Click on the torrent link software did not capture the download

https://www.torrentmac.net/wp-content/uploads/tr_files/2021/Downie_4_4.3.4__TNT_Torrentmac.net.dmg.torrent

[2021-10-05 19:58] #34 closed

[2021-10-05 20:06] gautamkrishnar commented on #17
a fix for this is released on https://github.com/gautamkrishnar/motrix-webextension/releases/tag/21.10.5 please update the extension via webstores

[2021-10-05 20:06] #17 closed

[2021-10-05 20:07] gautamkrishnar commented on #34
A fix for this is released on https://github.com/gautamkrishnar/motrix-webextension/releases/tag/21.10.5

[2021-10-05 20:07] gautamkrishnar commented on #33
@stem2580 we released a fix for this on  https://github.com/gautamkrishnar/motrix-webextension/releases/tag/21.10.5

[2021-10-05 20:14] gautamkrishnar commented on #3
Yep this is fixed

[2021-10-05 20:14] #3 closed

[2021-10-05 20:16] gautamkrishnar commented on #3
@hthre7 Thanks for letting us know. Let us see what we can change in the extension using the new scheme.

[2021-10-05 20:33] gautamkrishnar opened #49 "investigate if we leverage the new url schemes"
https://github.com/agalwood/Motrix/pull/716#issue-437359352

motrix add scheming this will actually
[code]

_Originally posted by @hthre7 in https://github.com/gautamkrishnar/motrix-webextension/issues/3#issuecomment-646966171_

[2021-10-06 04:05] cddehsy opened #50 "Plugin 3 state all open browser no download file"
Close motrix, plugin 3 status all open, then click download, browser does not download the file. Close Extension Status, the browser can download normally.

https://drive.google.com/file/d/1n-JsypzM6tPlUp3jWNG_fmvDIf2lIyxW/view?usp=sharing

[2021-10-06 04:19] cddehsy opened #51 "edge load uncompressed extension shows error list file missing or unreadable"
edge load uncompressed extension shows error list file missing or unreadable

[2021-10-06 05:23] gautamkrishnar commented on #51
@cddehsy did you do `yarn build chrome` before importing on edge?

[2021-10-06 05:28] gautamkrishnar commented on #50
@cddehsy From the video you shared, I can see that the Motrix is not running. Can you please open it and keep it in the background so that extension can work. Mac shows a dot under the icon when the motrix is running:
<img width="154" alt="Screenshot 2021-10-06 at 10 57 20 AM" src="https://user-images.githubusercontent.com/8397274/136145489-eb94feef-0836-42b8-a8f6-3081ea8c0e36.png">

[2021-10-06 08:28] gautamkrishnar commented on #51
@cddehsy please install via https://chrome.google.com/webstore/detail/motrix-webextension/djlkbfdlljbachafjmfomhaciglnmkgj this is the recommended method.

[2021-10-06 08:28] #51 closed

[2021-10-07 05:39] cddehsy opened #52 "error"
Cannot check for updates: Error: net::ERR_CONNECTION_CLOSED
at SimpleURLLoaderWrapper.<anonymous> (electron/js2c/browser_init.js:105:6536)
at SimpleURLLoaderWrapper.emit (events.js:315:20)

[2021-10-07 05:41] gautamkrishnar commented on #52
We are not at all using electron anywhere in our application. Are you sure this bug is related to our project???

[2021-10-07 05:41] cddehsy commented on #50
@gautamkrishnar I mean without running the software, the browser will not be able to download the file, you must close the plug-in Extension Status browser to download properly

[2021-10-07 05:42] #52 closed

[2021-10-09 04:09] clicky6 opened #53 "Option for file sizes."
Add an option where we can choose how much size the file should be for motrix-webextension to download it in Motrix downloader.

It will help in:-
Small downloads less than 10 mb are handled better by the browser than Motrix because of higher performance in Browsers whereas Motrix takes more time on small files. So it is not useful in downloading small files. So add an option for that.

The option

[2021-10-09 08:39] gautamkrishnar commented on #49
@hthre7 Thanks for testing this out. I had tried testing it too, this new protocol didn't have much use for us since we cant trigger it via an HTTP call.

[2021-10-09 08:39] #49 closed

[2021-10-09 08:42] #50 closed

[2021-10-09 08:45] gautamkrishnar commented on #50
@cddehsy also when you disable the extension status, it is disabling the entire extension itself. That is the reason why the download is working fine.
![Screenshot 2021-10-09 at 2 15 00 PM](https://user-images.githubusercontent.com/8397274/136651295-c9765cd7-d2fa-4900-af5d-1ca1c8549906.png)

[2021-10-09 20:52] gautamkrishnar commented on #43
@cddehsy you can now get started with the Chinese translation. Please create a JSON file with a filename `messages.json` under `app/_locales/zh`.

Copy-paste the contents of the following file: https://github.com/gautamkrishnar/motrix-webextension/blob/master/app/_locales/en/messages.json

Translate `message` key in the JSON to corresponding Chinese values eg.
[code]

[2021-10-10 05:41] gautamkrishnar commented on #38
Closing since this is deployed to chrome webstore

[2021-10-10 05:42] #38 closed

[2021-10-10 05:43] #45 closed

[2021-10-10 06:09] gautamkrishnar commented on #37
@justaordinaryman Unfortunately supporting waterfox is beyond the scope of this project. Please use any other supported browsers.

[2021-10-10 06:09] #37 closed

[2021-10-10 10:37] cddehsy opened #54 "error"
Cannot check for updates: Error: net::ERR_CONNECTION_CLOSED
at SimpleURLLoaderWrapper.<anonymous> (electron/js2c/browser_init.js:105:6536)
at SimpleURLLoaderWrapper.emit (events.js:315:20)

[2021-10-10 16:29] gautamkrishnar commented on #54
@cddehsy can you share a screenshot? I guess this is from the motrix app. Please open an issue at https://github.com/agalwood/Motrix/

[2021-10-10 16:29] #54 closed

[2021-10-11 06:17] cddehsy commented on #52
@gautamkrishnar sorry，I had this problem only in the last few days, I thought it was a problem with the plugin

[2021-10-11 23:52] zany130 opened #55 "Does not work on Vivaldi"
does not intercept downloads in Vivaldi. the old version before being added to chrome web store worked (and still works) specifically version 2.0.0 from July 2020. Motrix is installed from the chaotic-aur arch repo

[2021-10-15 01:45] cddehsy opened #58 "There are plug-ins in Edge that need to be updated, I don't know if it's the one you released"
https://microsoftedge.microsoft.com/addons/detail/moxtrix-webextension/cippeolfnaoolpljklgcccckmilehbfg?hl=zh-CN

[2021-10-15 14:18] abdusemiabduweli opened #59 "This is not working on firefox."
Firefox is still using its own dowloader.

[2021-10-15 15:10] gautamkrishnar commented on #58
It was not released by me. Please use https://chrome.google.com/webstore/detail/motrix-webextension/djlkbfdlljbachafjmfomhaciglnmkgj instead

[2021-10-15 15:10] #58 closed, assigned to nobody

[2021-10-16 03:57] candrapersada opened #60 "why file is saved and file_name is not separated like in this picture"
#33
![123859576-baba1100-d91c-11eb-82e4-7229f3f357a3](https://user-images.githubusercontent.com/36833664/137572872-74c56356-5d4e-4fbb-b943-d83bee02d741.png)

[2021-10-16 16:19] clicky6 opened #61 "Make these buttons a bit better."
Make these buttons from these:-
![3](https://user-images.githubusercontent.com/89839714/137594642-e765f9f8-a783-4fa4-a807-80fbad88bee6.png)
To something like this:-
![2](https://user-images.githubusercontent.com/89839714/137594679-5ab65448-71fa-4a57-9600-6198df58b272.png)
This will make the interface look and feel a lot more better.
And also change the color of buttons, Make it somewhat blue like

[2021-10-16 23:57] cdytoby opened #62 "Feature Request: add option that use the Motrix's download folder instead of browser's download folder"
I set the browser default download folder to desktop, and Motrix's download folder to somewhere else.

And I noticed that when this plugin is intercepting the download and give it to Motrix, the file will still be downloaded to desktop instead of the Motrix's one.

I hope after plugin intercept, it should not give Motrix the target download location, it should be determined by Motrix.

[2021-10-17 12:50] 1265578519 opened #63 "安装后不起作用，无法拉起motrix进行下载，还是弹出自带下载框"
安装后不起作用，无法拉起motrix进行下载，还是弹出自带下载框
![image](https://user-images.githubusercontent.com/6442439/137627900-fa259bc3-c8cc-4702-851e-5bb4b2b3ec2b.png)

[2021-10-17 12:56] 1265578519 commented on #63
![image](https://user-images.githubusercontent.com/6442439/137628053-fbb6e48b-d838-4678-ac58-91357ebf9e98.png)
卸了，没用

[2021-10-17 12:56] #63 closed

[2021-10-17 21:14] dgsmiley18 commented on #59
It's not working on Firefox, but it still works on Edge and Chrome.

[2021-10-20 06:13] gautamkrishnar commented on #61
@clicky6 this was fixed, will be released soon.

[2021-10-20 06:13] #61 closed, assigned to nobody

[2021-10-22 17:56] cddehsy opened #67 "I wish I could copy the file link and clear the history"
I wish I could copy the file link and clear the history

[2021-10-30 08:57] gautamkrishnar opened #70 "migrate extension to manifest v3"
migrate exxtension to manifest v3

https://developer.chrome.com/docs/extensions/mv3/intro/mv3-overview/

[2021-10-30 09:10] gautamkrishnar commented on #70
We will be unable to migrate until webextension-toolbox supports it.

[2021-11-01 14:18] swift-lee commented on #39
and also hope this extension can be available in Edge Extension Store, due to it is not very convenient for users in China to access the Chrome Web Store. Thanks!

[2021-11-02 17:42] AyoungDukie commented on #59
To add info, this doesn't occur everytime, but occasionally will create an entry in the browser console showing the following:
`Unchecked lastError value: Error: Could not establish connection. Receiving end does not exist. 2 background.js:2455
    send moz-extension://720bc3cd-601b-4cd5-9acc-4b8bd6842b8a/background.js:2455`

![image](https://user-images.githubusercontent.com/5449443/139917667-b6e

[2021-11-02 23:21] terabyte3 commented on #59
Setting the RPC server port to 16800 worked for me.

[2021-11-03 01:47] abdusemiabduweli commented on #59
could you tell me where this setting is?

[2021-11-03 09:25] gautamkrishnar commented on #59
@abdusemiabduweli open motrix
go to settings>advanced and try factory reset and try setting the key again.

[2021-11-03 10:47] terabyte3 commented on #59
@abdusemiabduweli right click the extension > manage extension > 3 dot menu > options > RPC Servers > Default Server
![image](https://user-images.githubusercontent.com/73202594/140047268-d3901671-f27d-499d-b101-283a8f5886f2.png)

[2021-11-03 12:19] AyoungDukie commented on #59
This does not appear to be an option from the Add-ons Manager in Firefox 94; the 3 dot menu only has Remove or Report as options:
![image](https://user-images.githubusercontent.com/5449443/140058638-aaaf13b9-42b5-4db1-bece-dac1dbe30d11.png)

Is there another way to surface these options?

[2021-11-03 12:28] terabyte3 commented on #59
Sorry, forgot that I started using the [Aria2 Download Manager](https://addons.mozilla.org/en-US/firefox/addon/aria2-integration/). That is what works for me, but I think the Motrix WebExtension just needs to be updated.

[2021-11-05 02:11] cddehsy opened #71 "File List"
I can't click on the file in the file list to open the download path, Torrent starts downloading the real file after downloading, but the plugin still shows that Torrent is downloading

[2021-11-12 15:10] mafei007even opened #72 "必须要后台挂着 Motrix 吗？"
能不能像 Windows 平台的 IDM 插件一样，接管浏览器下载，后台不用挂着 IDM，会直接启动 IDM  弹出下载

[2021-11-16 06:26] cddehsy commented on #72
You can't wake up and download without motrix in the background, and you can't go to the browser to download

[2021-11-21 12:02] thewh1teagle opened #73 "Not working on Firefox; suggestions"
Hello,
2 things
The extension does not work on firefox, the extension seems to be broken (see the debug screen shot)
![image](https://user-images.githubusercontent.com/61390950/142760851-096b85fa-daca-48f1-87d2-d32d3ff24a4d.png)

Another thing -
Why do I need to configure manually the secret key for that?
This is bad and not comfortable and not following UX best practices.
I have Idea for better i

[2021-12-02 09:19] clicky6 opened #75 "Add extension status option on main dialog."
Add extension status option on main dialog(dialog that appears when we click on motrix-webextension) .
So that it is easier to turn it on or off according to our requirements.

[2021-12-06 22:22] #75 closed

[2021-12-07 10:24] wita74 opened #78 "Проблемы"
1 If you turn on the extension and let it work and then turn it off again for a while and re-enable it - it does not work, you have to
   reinstall
2 The size of the minimum file is 1mb - it is not displayed in any way that it was downloaded (torrent file) and if you make 0mb then
   the torrent file is not downloaded and appears in stopped as an error and does not exist
All this in the Chrome bro

[2021-12-07 12:57] hthre7 commented on #59
Still don't work on firefox v21.12.6

[2021-12-20 01:47] cddehsy opened #80 "Why is there no latest 21.12.12 version in the chrome store"
Why is there no latest 21.12.12 version in the chrome store? I hope the update will be synchronized soon.

[2022-01-07 14:13] gautamkrishnar commented on #80
@cddehsy latest version will be available soon. 21.12.12 is not available since its pipeline failed.

[2022-01-10 09:56] cddehsy opened #82 "I hope that the plug-in store on the edge browser"
I hope that the plug-in store on the edge browser

[2022-01-10 10:01] cddehsy opened #83 "Switching the dark mode button, the other three buttons will also switch at the same time"
Switching the dark mode button, the other three buttons will also switch at the same time

[2022-01-14 06:12] daifiyum opened #84 "图标对比度不高，在chrome扩展面板上看不见图标"
发现在chrome浏览器的扩展面板上，插件的“下载图标”是白色与背景色一样，导致看不见

[2022-01-15 12:12] JaroslawPokropinski commented on #83
For me it only replays their animations

[2022-02-15 16:39] Silnt opened #85 "Unable to display window"
The window cannot be displayed, as shown in the figure
<img width="434" alt="截屏2022-02-16 上午12 36 20" src="https://user-images.githubusercontent.com/21040178/154107213-15e0647c-e94d-48d1-918a-b757eb12fc29.png">

[2022-02-16 08:46] gautamkrishnar commented on #85
@Silnt which browser are u using?

[2022-02-19 15:03] cddehsy opened #86 "suspended animation"
The plug-in often hangs, click the icon to display the selection, but no pop-up window appears, it is always selected,

[2022-02-26 07:37] 3166265725 opened #87 "The icon color is not clear"

[2022-03-01 14:26] 8ar10der opened #88 "How to block the plugin to download pdf files?"
I try to add `*.pdf` in the blacklist, but it is not work. All the pdf files will be download via this extension or I have to turn off this extension a while.

[2022-03-15 07:25] 1159591549 opened #89 "question"
who can tell me distinction that filename are AriaDownloader.js and BrowserDownloader.js ?（谁能告诉我AriaDownloader.js 和BrowserDownloader.js文件名的区别）

[2022-03-15 07:33] 1159591549 commented on #89
My wechat is it_boy_0713

[2022-03-15 19:09] JaroslawPokropinski commented on #88
Right now you can only limit using file URL or file size. If the pdfs you are referring to have URLs like https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf then you can add `.pdf` to blacklist (without star)

[2022-03-15 19:12] JaroslawPokropinski commented on #89
The BrowserDownloader.js handles downloads using your browser (it will add the item to the list in extension popup but file is still downloaded through browser). AriaDownloader.js uses aria (so for example your motrix) which can be much faster for bigger files.

[2022-03-15 19:12] #89 closed

[2022-03-15 19:16] JaroslawPokropinski commented on #83
Can you confirm if only the animation replays @cddehsy ?

[2022-03-15 19:17] JaroslawPokropinski commented on #87
Sadly the clarity of icon will depend on color scheme of your browser. I don't think there are any plans to modify it in future.

[2022-03-15 19:28] JaroslawPokropinski commented on #23
It is a limitation of motrix itself (as it would have to run as a service to be woken up) and is out of scope of this app.

[2022-03-15 19:28] #23 closed

[2022-03-15 19:30] JaroslawPokropinski commented on #21
I am not aware how idm works but i assume that it runs on your pc as service (in background) so it can be brought to foreground when you start download. Sadly such functionality would have to be added to motrix repository for it to work.

[2022-03-19 23:14] 8ar10der commented on #88
Thanks!

[2022-03-19 23:14] #88 closed

[2022-03-21 06:40] #84 closed

[2022-03-24 20:37] zany130 commented on #55
It works now as long as you disable prompt before download it doesn't work with that option set

[2022-04-28 16:32] sulemanelahi opened #96 "File isn't downloading"
![image](https://user-images.githubusercontent.com/40140716/165800044-422420db-808f-4c81-b92a-73766f94bcbf.png)

I'm trying to download  a file but its not downloading  and in the image above loader loading for forever and also its also not showing up in desktop app and I'm not able to close this downloading loading

OS: Ubuntu 22.04
Browser: Chrome Version 101.0.4951.41 (Official Build) (64-bit)

[2022-04-29 17:33] HotdogMassacre commented on #55
@gautamkrishnar Sadly it doesn't, I have that option off and it will not intercept. It shows up in the webextension, and shows the progress, but it doesn't actually do the download with Motrix, it continues with Vivaldi itself.

[2022-05-08 13:01] RustyNova016 commented on #87
I think they meant that we don't know if green means the extension is on, or you need to press it to be on. I'm confused too

[2022-05-11 16:36] RedSnt commented on #55
So a thought I didn't really consider until just now after I installed FreeDownloadManager (FDM) + FDM extension, and it working, was: "what if the problem here is related to the RPC connection?" Gonna do some tests tomorrow with various browsers and settings and see if I can approximate the problem, because Motrix *does* look good. Open Source is important after all.

[2022-06-16 13:04] LSPatch opened #97 "希望能增加视频音频嗅探功能"
如果能像IDM和NDM那样有悬浮窗嗅探视频音频下载就完美了

[2022-06-19 15:30] blmulang opened #98 "Unable to install extension"
1、Use to modify the suffix of the <.zip> file to <.crx>, and it fails to drag and drop it into the extension

![QQ截图20220619232356](https://user-images.githubusercontent.com/48040829/174488579-56a40943-13cb-44f9-8766-7f82facddaed.png)

-------------------
2、Unzip the <.zip> file, and add it to the extension through the folder, it still fails, and it doesn't work even after trying out the old versi

[2022-06-28 07:57] for-the-zero opened #99 "extension didn't work"
启动了扩展和motrix，下载还是浏览器，右键也没有对应的菜单

浏览器：edge
版本：103.0.1264.37

系统：Windows10 1909

[2022-07-26 04:20] dtantono opened #100 "when the desktop app have been closed properly, Motrix cannot start download"
Hi
the web extension works only when the desktop app is active or at least in the notification area. But, when I close the desktop app and the notification properly. the app does not start. Is it a bug?

[2022-08-04 06:30] srbibek opened #101 "motrix Secret key"
i have reset the pc when i download motrix my google chrome syns and can't reset the secret key when i go to setting of motrix extentions i can't reset the key
#windows 11

[2022-08-09 08:49] PierreLeGit opened #102 "Unable to stop/pose download whith OPERA"
Like the title, it is impossible to stop or pause download with OPERA, Notification doesn't work. It is possible to have these improvements?

Thanks

[2022-08-14 18:02] gautamkrishnar commented on #70
We need to make sure that firefox won't break since it won't support manifest v3 yet.

[2022-08-30 10:39] candrapersada opened #104 "will there be a custom RPC port option other than 16800?"
will there be an option to use a custom port other than 16800 in Motrix WebExtension?
![image](https://user-images.githubusercontent.com/36833664/187416198-dd5dcf2d-d3d2-4352-97ed-af53f9ec27c4.png)

[2022-09-07 07:38] candrapersada opened #105 "Use tab title as filename in Browser"
will there be an option for how to download use tab title as filename?

[2022-10-16 12:51] suijiyuan commented on #87
The icon of the extension changed itself. The first time i use it is a purple icon, but after a while, it becase a white one, the same as the color of background.

[2022-10-16 17:12] AyoungDukie commented on #55
So one question for anyone looking at this (a year later, but with a new version release), have you set the RPC secret in both the Desktop App and in the extension?

I have too have the behavior for downloads not beginning if Prompt before Download is enabled, but if I left the key blank it will not work for me regardless. Just figured it may be worth a look

[2022-10-16 17:25] AyoungDukie commented on #73
Just as a data point, I am not the poster but have personally been able to get this to work in the latest version when the following criteria:

- The Browser Extension and the Desktop App have the RPC Key set
- "Prompt Before Download" Is disabled
- The file meets download size and blacklist criteria

At the moment, unfortunately, the Blacklist and File Size filtering seem to work (e.g. stop from

[2022-10-16 18:33] AyoungDukie commented on #73
Also technically this should be closed as a duplicate issue to #59, and a PR could be made for the suggested feature if desired.

[2022-10-16 18:41] AyoungDukie commented on #59
I posted this in a different but similar issue, so to bring here as an FYI (at least for 22.10.5):

[2022-10-16 21:31] AyoungDukie commented on #59
Did some brief testing with the chromium extension using MS Edge, and this does not seem to be having the same issue (at least about manifest issues) on the latest store version 22.1.7.

Looking at this manifest permission issue, Chrome does shows the `downloads.shelf` permission for [hiding the download bar at the bottom of the browser](https://developer.chrome.com/docs/extensions/reference/downl

[2022-10-16 22:18] AyoungDukie opened #107 "RPC Key Warning does not Display in some browsers (e.g. Background.js can only prompt a Console warning in Firefox)"
Some user confusion about the extension not working seems to be around the requirement for using and RPC Secret/Key.

Currently the extension will try to warn a user if they do not set a key by using `alert` in the background.js script. This works for Chrome (and likely other Chromium browser):
![image](https://user-images.githubusercontent.com/5449443/196060604-23d782f1-1cfb-4127-8f5d-0acf455b012

[2022-10-16 23:14] AyoungDukie opened #108 "BrowserDownloader Object Seems to trigger an infinite loop condition in Firefox"
Apologies for the slew of activity, but have continued my debugging efforts for now.

There seems to be an issue created when downloading a file that matches the Blacklist settings (at least in Firefox) where the download seems to work properly, but the console shows that each time a new file gets downloaded via the browser (a new "BrowserDownloader" object is made), there begins an infinite... re

[2022-10-16 23:25] AyoungDukie commented on #101
It looks like if you remove/uninstall the extension, Chrome should clear the extension data from both your computer and stop syncing it after.

Maybe for good measure, after you remove the extension, quit Chrome, then relaunch and reinstall?

[For reference](https://stackoverflow.com/questions/22396467/chrome-extension-cleans-storage-on-uninstall)

[2022-10-17 00:39] AyoungDukie opened #109 "Documentation on Blacklist Syntax"
Just wanted to ask if there would be a preferred way to add documentation about using the Blacklist feature. Currently things are a tad open-ended because many similar extensions use differing ways to fill in these rules, and it could be helpful to have something telling users how to properly do so here.

To summarize what I believe I understand after looking into the scripts some:
 - The Blacklis

[2022-10-17 08:43] #72 closed

[2022-10-31 14:29] TeusDev commented on #109
bump

[2022-10-31 16:31] gautamkrishnar commented on #109
@AyoungDukie @TeusDev sorry for missing the issue. Feel free to open PR with the settings page here: https://github.com/gautamkrishnar/motrix-webextension/blob/master/app/scripts/config.js

[2022-11-03 21:04] AyoungDukie commented on #109
Okay, I think the simplest solution to start is using the `helperText` property of the `TextField`; but it would probably be a good idea to also add a documentation page that can be linked to for more formal/full explanations.

Pull request is here https://github.com/gautamkrishnar/motrix-webextension/pull/110

[2022-11-04 17:18] AyoungDukie commented on #109
With that merge complete, I have made a follow-up pull request to add a new documentation file for info on the settings https://github.com/gautamkrishnar/motrix-webextension/pull/111

I think once completed, we can close this issue!

Thanks for working through these!

[2022-11-06 12:53] #109 closed

[2022-11-06 12:53] gautamkrishnar commented on #109
@AyoungDukie thanks for contributing ⭐

[2022-11-06 16:55] AyoungDukie commented on #109
Glad to be able to help!

[2022-11-06 17:01] AyoungDukie commented on #59
All, there is now a [documentation page](https://github.com/gautamkrishnar/motrix-webextension/blob/master/settings-documentation.md) explaining some of the settings that can cause silent failures on Firefox. If folks who are having this issue can verify the settings that they are using, it can help verify if there is a new/undiagnosed problem!

[2022-11-06 17:07] AyoungDukie commented on #96
A follow up here, when you notice this, does motrix itself show the download? I believe that once the extension passes the download to the client, this pop-up is only tracking what the desktop client is doing. As in the issue may be happening in the desktop client, and that it might have more detailed info on what is hampering progress.

Might also be worth seeing if this still happens in the late

[2022-11-06 17:10] AyoungDukie commented on #99
Hello, when you started using the extension, did you have an RPC API Secret set for the client and the extension? We have some guidance on first time setup now, which should help prevent that issue:

https://github.com/gautamkrishnar/motrix-webextension/blob/master/settings-documentation.md#notes-for-initial-configuration

[2022-11-21 01:06] barraIhsan opened #113 "[Feature Request] Include built-in blacklist for cookie-based download"
For example, like blacklist Google Drive (Google Docs, google spreadsheet, Google Slides, google chat, google photo, Google Drive), file from extension (`chrome-extension` and `moz-extension` scheme download) , and other by default.

So a new user trying to download a Google Drive file, don't get a login page HTML.